body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: "roboto";
    user-select: auto;
    -webkit-user-select:none;
    -webkit-user-drag: none;
	-webkit-app-region: no-drag;
    cursor: default;
    background-color: aliceblue;
}

.calculator {
    display: flex;
    flex-direction: column;
    width: 450px;
    height: 700px;
    background-color: rgba(168, 180, 190, 0.438);
    justify-content: center;
    align-items: center;
    gap: 8px;
    border: 6px solid black;
    border-radius: 16px;
}

.display {
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 10px;
    background-color:darkgrey;
    width: 376px;
    height: 100px;
    border: 2px solid black;
    border-radius: 8px;
    font-size: 36px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    width: 400px;
    height: 500px;
    gap: 8px;
}

.operators,
.numbers,
.dataMgt {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: azure;
    border: 2px solid black;
    border-radius: 8px;
    font-size: 24px;
}

.operators:hover,
.numbers:hover, 
.dataMgt:hover,
#equals:hover {
    background-color:rgb(112, 112, 112);

}
#allClear {
    grid-column-start: 1;
    grid-column-end: 3;
}
.operators {
    background-color:rgb(183, 192, 243)
}

.dataMgt {
    background-color: rgb(255, 175, 175);
}

.numbers {
    background-color:rgb(144, 207, 144);
}

#equals {
    background-color: rgb(250, 220, 164);
}

.footer {
    margin-top: 25px;
}